img {
    max-height: 30px;
    max-width: 30x;
    border-radius: 250px;
}

div{
    background-color: #cccccc;
    max-height: 200px;
    min-height: 100px;
    max-width: 400px;
    min-width: 250px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    line-height: 1;
}

h2{
    color: 343;
    font-size: 32px;
    font-weight: 700;
}

p{
    color: 343;
    font-size: 16px;
}

a{
    color: green;
    text-decoration: none;
}